*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: auto;
    padding: 0;
    background-color: Gainsboro;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
  }

/*-------------------------------------------------- Header ------------------------------------------------------*/
#div_syscadprincipal{
    text-align: center;
    background-color: #2c0bc0;
    height: 10vh;
    color: white;
    margin: 0;
    padding: 5px 0;
    font-size: 26px;
}
#div_syscadprincipal > h1{
    font-size: 2.5rem;
    line-height: 80px;
}

div#header{
    position: relative;
    color: white;
    margin: 0;
    padding: 10px;
    height: 18px;
    display: flex;
    justify-content: space-between;
}

/* Menu lateral no Header */



#chec[type="checkbox"]{
    display: none;
}

#chec[type="checkbox"]:checked ~nav{
    transform: translateX(350px);
}

#label_menu{
    position: absolute;
    top: -400%;
    left: 2%;
    z-index: 99;
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
}

#nav_menu{
    background-color: black;
    width: 250px;
    left: -350px;
    height: 94vh;
    top: 0%;
    position: absolute;
    transition: all .9s;
    z-index: 2;
}

#ul_menu{
    list-style: none;
    top: 55px;
    position: absolute;
    width: 100%;
    padding: 0px 0px;
    margin: 0;
}


.a_menu{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 10px 10px 10px;

}

.a_menu:hover{
    color: #0eb8df;

}

#div_syscad{
    background-color:  #1C1C1C;
    height: 50px;
    position: relative;
}

#p_syscad{
    color: white;
    font-size: 22px; 
    padding: 12px 0px;
    margin: 0;
    text-align: center;
    align-items: center;
}

#img_lateral{
    width: 40px;
    border-radius: 50%;
}

#img_lateral2{
    border-radius: 50%;
    width: 10px;
}

#img_lateral3{
    background-color: white;
    border-radius: 50%;
    width: 20px;
}

.span_menu{
    position: absolute;
    margin-top: 4px;
    margin-left: 10px;
    font-size: 15px;

}

.span_menu1{
    color: rgb(43, 239, 43);
    font-size: 12px;
    position: absolute;
    margin-top: -20px;
    margin-left: 50px;
}

.span_menu2{
    color: royalblue;
    /* padding: 20px 15px 20px 15px; */
}

.span_menu3{
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
}

#li_menu1{
    background: #363636;

}

#li_menu2{
    margin: 20px 0px 15px 8px;
}

.span_usuarios {
    padding:0px;
    color:black;
    border-left: 3px solid gray;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 480px) {
    #nav_menu{
        background-color: black;
        width: 250px;
        left: -350px;
        height: 94vh;
        top: 100%;
        position: absolute;
        transition: all .5s;
        z-index: 2;
    }
}

/* header do usuario */
#div_usuario{
    width: 250px;
    height: 8vh;
    float: left;
    margin-top: -5%;
}
#img_usuario{
    width: 80px;
    height: 60px;
    float: left;
    padding: 0px 5px;
    /* margin-left: 5%; */
}

#a_usuario{
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    line-height: 60px;
    text-decoration: none;
    padding: 0px 5px;
}

#a_usuario:hover{
    color: #0eb8df;

}

/*------------------------------------------------------------ Content ----------------------------------------------------------*/

.content{
    position: relative;
    flex-grow: 1;
  }

/* Container */

.container2{
    display: flex;
    justify-content: space-between;
    /* background: red; */
}

@media only screen and (max-width: 1150px) {
    .container2{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background: red; */
    }
}

/* Descricao */

/* teste1 */
#div_caixa{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin: 0;
}

.pcaixa1{
    /* margin-left: 250px; */
    font-size: 13px;
    color: black;
}

.span_descricao{
    font-size: 54px;
    font-weight: bold;

}

.fa-house{
    font-size: 20px;
}
.pcaixa2{
    font-size: 22px;
    color: black;
    
}

.span_descricao2{
    font-weight: bold;

}

.span_descricao2, .span_descricao3{
    cursor: pointer;
}
.span_descricao3
{
    color: gray;
    font-weight: bolder;
}
.img5{
    border-radius: 50%;
    height: 15px;
    width: 10px;
    height: 10px;
    margin-right: 5px;
} 


@media only screen and (max-width: 1150px) {
    .pcaixa1{
        margin-left: 0;
        font-size: 13px;
        color: black;
    }
}

@media only screen and (max-width: 820px) {
    #div_caixa {
        flex-direction: column;
        align-items: flex-start;
    }

    .pcaixa2 {
        margin: 0 0 10px 0;
        padding: 10px 0px 10px 5px;
        border-radius: 3px;
        width: 99%;
        background-color: grey;
    }
}


/* Tabela */

.ladoesquerdo{
    padding: 0px 10px;
}

.div_tabela{
    background: white;
    padding: 0 0 0 0;

}

table {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    /* margin-top: 15px; */
}

table img {
    border-radius: 50%;
    min-height: 45px;
    min-width: 45px;
    width: 45px;
    height: 45px;
    max-width: 45px;
    max-height: 45px;
}

caption {
    /* border-top: 3px solid #0eb8df #000 #000; */
    border-top: 3px solid #0eb8df;
    border-radius: 1px;
    font-size: 20px;
    font-weight: bold;
}

table,
caption {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.div_tabela input, .delbt,.editbt {
    display: flex;
    align-items: center;
    text-align: center;
    float: left;
    height: 25px;
    width: 50px;
    border-radius: 2px;
    font-size: 15px;
    border-style: hidden;
    color: white;
    text-align: left;
    margin: 0 3px 0 0;
}


input[value="Editar"], .editbt {
    background-color: #07a;
    text-decoration: none;
    padding: 0px 0px 1px 6px;
}

input[value="Excluir"], .delbt {
    background-color: #a00;
    text-decoration: none;
    padding: 0px 0px 1px 6px;

}

.editbt:hover {
    opacity: 0.9;
    transform: scale(1.03);
}

.delbt:hover{
    opacity: 0.9;
    transform: scale(1.03);
}

tr:nth-child(even) {
    background-color: #C0C0C0;
}

th, td, caption {
    margin: 0 0 0 0;
    padding: 10px;
    text-align: left;
}

/* td {
    height: 60px;
} */

/* tr {   

} */

@media only screen and (max-width: 1150px) {
    .div_tabela {
        /* margin-left: 0; */
        /* margin: 0; */
        /* align-items: start; */
        padding: 0;
        background: white;
    
    }

    .ladoesquerdo{
        padding: 0px 10px;
    }

    
    
}

@media only screen and (max-width: 820px) {

    .div_tabela {
        align-items: center;
    }

    table img {
        width: 35px;
        min-height: 35px;
        min-width: 35px;
        height: 35px;
        max-width: 35px;
        max-height: 35px;
    }

    th,
    td,
    caption {
        font-size: 14px;
        padding: 4px;
        text-align: left;
    }

    .table-users input, .delbt,.editbt {
        display: flex;
        align-items: center;
        float: unset;
        height: 22px;
        width: 46px;
        border-radius: 2px;
        font-size: 14px;
        border-style: hidden;
        color: white;
        text-align: left;
        margin: 0 0 3px 0;
    }


}

@media only screen and (max-width: 495px) {

    .div_tabela{
        background: Gainsboro;
        padding: 0 0 0 0;
    
    }

    thead {
        display: none;
    }

    table {
        display: block;
        border: hidden;
    }

    table caption{
        display: flex;
        justify-content: center;
    }

    caption {
        background-color: #C0C0C0;
        border-bottom: 1px solid black;
        border-radius: 3px 3px 0 0;

    }

    td {
        display: flex;
        flex-direction: row;
        font-weight: 500;
        height: 40px;
        width: 70vw;
        padding: 5px;
        position: relative;
        justify-content: space-between;
        text-align: center;
    }

    td::before {
        content: attr(data-label);
        font-weight: 700;
        margin-right: 30px;
    }

    td [value="Editar"]{
        margin-left: 20vw;
        margin-right: 10px;
     }

     table img {
        width: 45px;
        min-height: 45px;
        min-width: 45px;
        height: 45px;
        max-width: 45px;
        max-height: 45px;
        border-radius: 8px;
    }

    tr {
        border-top: 1px solid black;
        border-radius: 5px;
        display: block;
        padding: 10px;
        margin-bottom: 20px ;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    tr:nth-child(odd){
         background-color: var(--table);
    }

    td input {
        margin-bottom: 20px;
    }

    a[value="Editar"], .editbt {
        background-color: #07a;
        text-decoration: none;
        padding: 0px 0px 1px 6px;
        margin: 0;
    }
    
    a[value="Excluir"], .delbt {
        background-color: #a00;
        text-decoration: none;
        padding: 0px 0px 1px 6px;
        margin: 0;
    
    }
}

/*------------------ Caixas ------------------------*/

.ladodireito {
    display: flex;
    padding: 0px 10px 10px 10px;
    flex-direction: column;
}

.div_caixaspesquenas {
    display: flex;
    /* flex-wrap: wrap; */
    max-width: 440px;
    /* align-content: flex-start; */
    justify-content: space-between;

}

.cards {
    color: white;
    border-radius: 10px;
    width: 160px;
    height: 100px;
    padding: 10px;
}

.cards img {
    position: absolute;
    width: 160;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    right: 0;
    top: 0;
    z-index: 0;
    /* opacity: 60%; */
}

#card1 {
    position: relative;
    width: 180px;
    height: 12vh;
    /* background-color: var(--editar-table); */
    background-image: url("./img/nvusu.jpg");
}

.cards h3 {
    position: absolute;
    z-index: 1;
    margin: 0;
    bottom: 10%;
    top: 80px;
}

#card2 {
    position: relative;
    width: 180px;
    height: 12vh;
    /* background-color: var(--excluir-table); */
    background-image: url("./img/admin.jpg");
}

.cards h1{
    position: absolute;
    font-size: 50px;
    top: 0px;
    /* margin-bottom: 5px; */
    z-index: 1;

}

@media only screen and (max-width: 1150px) {
    .ladodireito {
        padding: 20px 10px 20px 10px;
    }
}

@media only screen and (max-width: 820px){
    .ladodireito {
        display: flex;
        padding: 10px 10px 20px 10px;
        flex-direction: column;
    }
}

@media only screen and (max-width: 450px){
    .div_caixaspesquenas {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* flex-wrap: wrap; */
        max-width: 440px;
        /* align-content: flex-start; */
    
    }
    #card2 {
        position: relative;
        /* background-color: var(--excluir-table); */
        background-image: url("./img/admin.jpg");
        margin: 10px 0 0 0;
    }
}

/*--------------- Cadastro -----------*/

form {
    margin-top: 20px;
    width: 400px;
    background-color: white;
    border: 1px solid black;
    border-top: 3px solid black;
    border-radius: 3px;
}

.hr_cadastro{
    margin: 5px;
}

form h3 {
    margin: 10px 0 0 10px;
}

form input:not(#admin, .inline, .salvar) {
    width: 100%;
    margin: 10px 0 0 0;
    text-align: left;
    min-height: 28px;
}

fieldset {
    border: unset;
}

form select {
    width: 100%;
    margin: 10px 0 0 0;
    text-align: left;
    min-height: 32px;
}

.label_cadastro {  
    display: block;
    margin: 8px 0;
    font-weight: bold;

}

.inline {
    width: unset;
    margin: 0 8px 0 0;
    vertical-align: middle;
}

.salvar {
    color: white;
    background-color: green;
    width: 65px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

.salvar:hover{
    background-color: black;
    transition: all .7s ease-in-out;
}

@media only screen and (max-width: 820px) {
    
}

@media only screen and (max-width: 495px){
    #div_syscadprincipal > h1{
        font-size: 2rem;
        line-height: 80px;
    }
    #label_menu
    {
        font-size: 40px;
        top: -350%;
    }
    #nav_menu{
        top: 0%;
    }
    #div_usuario{
        width: 80px;
        margin-top: -20%;
    }
    #a_usuario
    {display: none;}
    form {
        margin-top: 20px;
        /* width: 380px; */
        width: 80vw;
        font-size: small;
        position: relative;
        background-color: white;
        border: 1px solid black;
        border-top: 3px solid black;
        border-radius: 3px;
    }
    .span_descricao3
{
    color: #fff;
    font-weight: bolder;
}

}

/* @media only screen and (max-width: 435px) {
    form {
        margin-top: 20px;
        width: 350px;
        background-color: white;
        border: 1px solid black;
        border-top: 3px solid black;
        border-radius: 3px;
    }
} */

/*------------------------------------------------------------- Footer --------------------------------------------------------*/

.footer{
    position: relative;
    bottom: 0%;
    height: 4vh;
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: space-between;
    /* flex-direction: row;
    flex-wrap: wrap; */
    padding: 0px 10px;
    font-size: 14px;
    margin: 0;
    align-items: center;
}

#projeto, #h4_footer{
    margin: 0;;
}
